.LoginMenu {
	background-color : black;
	background : url(../Images/abstractRectangleBackground.png);
	width :95%;
	height: 95%;
	margin: auto;
	text-align : center;
	font-size: 150%;
	color: white;
	padding-top: 8%;	
	font-family: "Times New Roman", Times, serif;
}

.button {
	box-shadow:inset 0px 34px 0px -15px #b54b3a;
	background-color:#a73f2d;
	border:1px solid #241d13;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 76px;
	text-decoration:none;
	text-shadow:0px -1px 0px #7a2a1d;
}
.button:hover {
	background-color:#b34332;
}
.button:active {
	position:relative;
	top:1px;
}


.LoginMenu a{
	font-size: 20px;
    color: #F0F8FF;
	text-decoration: none;
}

.LoginButton{
	background-color: #FFFAF0;
	width: 200px;
	text-align: center;
	margin-top: 5px;
	font-size:100%;
	font-family: "Times New Roman", Times, serif;
}

#logoImage{
		width: 250px;
		height: auto;
	}